- import_tasks: CentOS.yml
  when: ansible_distribution == 'CentOS'

- import_tasks: Ubuntu.yml
  when: ansible_distribution == 'Ubuntu'

- name: Create MySQL extra databases 
  mysql_db:
    login_user: root
    login_password: "{{ mysql_root_password | string }}"
    name: "{{ item.name }}"
    encoding: "{{ item.encoding | default('utf8mb4',true) }}"
  with_items: "{{ mysql_databases }}"
  when: (mysql_databases is defined) and (mysql_databases != none)


- name: Create extra Databases User
  mysql_user:
    login_user: root
    login_password: "{{ mysql_root_password | string }}"
    name: "{{ item.name }}"
    host: "{{ item.host | default('localhost',true) }}"
    password: "{{ item.password | default(mysql_root_password,true) }}"
    priv: "{{ item.priv | default('*.*:USAGE',true) }}"
  with_items: "{{ mysql_users }}"
  when: (mysql_users is defined) and (mysql_users != none) 






- name: Check MySQL Version
  shell: mysql -V
  register: mysql_ver
  notify: MySQL Version


